.card{
  line-height: 2em;
}

.hide {
  display: none;
}

li:hover{
  background-color:#f8f9fa;
}

li:active{
  background-color: lightgray;
}

/* on small screens we want search history not to display EVER */